.MenuWrapper{
    display: flex;
    flex-direction: Column;
    align-items: center;
    justify-content: space-between;

    top: 20%;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
   
.Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

@media (max-width: 800px) {
    .MenuWrapper{
        top: 5%;
    }

    .Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}
