.MenuWrapper{
    display: flex;
    flex-direction: Column;
    align-items: center;
    justify-content: space-between;

    top: 20%;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
   
.Wrapper {
    width: 50%;
    margin-top: 2em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    grid-template-areas: 
    "nv nc"
    "dv dc";
}

.nv {
    grid-area: nv;
    align-self: center;
    margin: 0;
    text-align: center;
}

.nc {
    grid-area: nc;
    align-self: center;
    margin: 0;
    text-align: center;
}

.dv {
    grid-area: dv;
    align-self: center;
    margin: 0;
    text-align: center;
}

.dc {
    grid-area: dc;
    align-self: center;
    margin: 0;
    text-align: center;
}

@media (max-width: 800px) {
    
    .Wrapper {
        width: 100%;
        gap: 2em;
    }
}
